/**
        ____________       __
       /  ________  \     /  \
      /  /_______/ / /   /    \
     /  /       / / /   /      \
    /  /       / / /   /   /\   \
   /  /       / / /   /   // \   \
  /  /       / / /   /   ||___|   \
 /  /_____  / / /   /    ______    \
|___________ / /   /____/______\ ___\
\_____________/   |____/        \___|
My youtube:
My discord server:
My boosty:
*/
.centerButton-1IShs7 {
border-radius: 10%;
}
.friendsEmpty-gs15T1 {
background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006960952308158544/unknown.png);
    background-position-x: -40px;
    background-position-y: -840px;
    background-size: 800px;
}
.banner-1YaD3N.profileBanner-1owKI5 {
    background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006952677273518110/ezgif.com-gif-maker.png);
    background-size: contain;
}
body {
    font-family: Lucida Console;
}
