/**
        ___________         __
       /  _____   \ \      /  \
      /  /\_____\  \ \    /    \
     /  / /     /  / /   /      \
    /  / /     /  / /   /   /\   \
   /  / /     /  / /   /   //_\   \
  /  / /     /  / /   /            \
 /  / /___ ⋰  / /   /    ______    \
|___________⋰  /   /____/\_____\____\
\____________ ⋰   |______/     |____|
My youtube:
My discord server:
My boosty:
*/
.centerButton-1IShs7 {
border-radius: 10%;
}
.friendsEmpty-gs15T1 {
    background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006962291562008687/unknown.png);
    background-position-x: 1200px;
    background-position-y: -805px;
    background-size: 1200px;
}
.banner-1YaD3N.profileBanner-1owKI5 {
    background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006952677273518110/ezgif.com-gif-maker.png);
    background-size: contain;
}
body {
    font-family: Lucida Console;
}
