/**
 * @name Profile test
 * @author Даликай | Даликай#5754
 * @authorLink https://youtube.com/c/dalikay
 * @version 1.0.0
 * @description aboba
 * @source https://github.com/dalikay/dalikay.github.io/tree/main/theme/fnf-note
 * @website https://youtu.be/dQw4w9WgXcQ
*/
span.discriminator-3_S3CG::after {
    content: '🐎';
}
span.username-u-ebrn.desaturateUserColors-1O-G89::after {
    content: '🐎';
}
.userTagNoNickname-2MJ9HD.userTag-PXLYzP.nameTag-H6kSJ0::after {
    content: '🐎';
}
.overflow-1wOqNV::after {
    content: '🐎';
}
.text-sm-normal-3Zj3Iv.title-338goq::after {
    content: '🐎';
}
span.discriminator-2m-MqL::after {
    content: '🐎';
}
