/**
        ___________         ______
       /  _____   \ \      /      \
      /  /\_____\  \ \    /        \
     /  / /     /  / /   /    /\    \
    /  / /     /  / /   /    / /\    \
   /  / /     /  / /   /    /_/__\    \
  /  / /     /  / /   /                \
 /  / /___ ⋰  / /   /     _______      \
|___________⋰  /   /_____/\______\______\
\____________ ⋰   |______/       \______|
My youtube:
My discord server:
My boosty:
*/
.centerButton-1IShs7 {
border-radius: 10%;
}
.friendsEmpty-gs15T1 {
    background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006962291562008687/unknown.png);
    background-position-x: 1200px;
    background-position-y: -805px;
    background-size: 1200px;
}
.banner-1YaD3N.profileBanner-1owKI5 {
    background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006952677273518110/ezgif.com-gif-maker.png);
    background-size: contain;
}
body {
    font-family: Lucida Console;
}
a.originalLink-Azwuo9 {
    background-image: url(https://cdn.discordapp.com/attachments/1003211687412912169/1006952677273518110/ezgif.com-gif-maker.png);
    left: 0px;
    background-size: 450px;
}
.theme-dark .image-35kDIs {
    background-image: url(/assets/5656f17….svg);
}
