/**
        ___________         __
       /  _____   \ \      /  \
      /  /\_____\  \ \    /    \
     /  / /     /  / /   /      \
    /  / /     /  / /   /   /\   \
   /  / /     /  / /   /   //_\   \
  /  / /     /  / /   /            \
 /  / /___ ⋰  / /   /    ______    \
|___________⋰  /   /____/\_____\____\
\____________ ⋰   |______/     |____|
 * @name Nitro troll
 * @authorLink https://youtube.com/c/dalikay
 * @version 1.0.0
 * @description Эта тебя ТОЛЬКО для людей в России!
 * @source https://github.com/dalikay/dalikay.github.io/edit/main/theme/Nitro%20troll/
 * @website https://youtu.be/dQw4w9WgXcQ
*/
h2.defaultColor-24IHKz.heading-xl-medium-_XBxHT.defaultColor-HXu-5n.header-1N6Qea {
    color: #0000;
}
h2.defaultColor-24IHKz.heading-xl-medium-_XBxHT.defaultColor-HXu-5n.header-1N6Qea::after {
    content: ' Вы не можете покупать. Потому что вы Русские, а мы должны для вас закрыть доступ к способам оплаты, НаМ жЕ эТо ТаК вЫгОдНо!';
    color: #fff;
}
